<!DOCTYPE html>
  <% include head %>
  <body>
  <% include navbar %>
  <div id="loading">
      <h1>loading</h1>
  </div>
  <% lib.forEach(element => { %>
    <p><%= element.title%></p>
    <%= element.mal_id %>
    <form action="/manga/<%= element.mal_id %>?_method=DELETE" method="post" class="form-inline my-2 my-lg-0">
    <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Delete from Library</button>
    </form>
  <% }); %>
  <div class="container row">
    <% data.forEach(element => { %>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <a href="<%= element.url %>"> My Anime List </a>
            <h5 class="card-title"><%= element.title %></h5>
            <img src="<%= element.image_url %>" alt="">
            <%= element.synopsis %>
            <%= element.volumes %>
            <a href="/manga/<%= element.mal_id %>">More Info</a>
          </div>
        </div>
      </div>  
    <% }); %>
  </div>
  <% include scripts %>
  </body>
</html>