<!DOCTYPE html>
<% include head %>

<body>
  <% include navbar %>
  <div class="field">
    <input type="checkbox" id="showlibrary"> Show Library
    <br>
  </div>
  <div class="library">
    <% lib.forEach(element => { %>
    <p><%= element.title%></p>
    <%= element.mal_id %>
    <form action="/manga/<%= element.mal_id %>?_method=DELETE" method="post" class="form-inline my-2 my-lg-0">
      <input type="hidden" name="_method" value="DELETE">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Delete from Library</button>
    </form>
    <% }); %>
  </div>
  <br>
  <div class="headertitle">
    Home Page
  </div>
  <div id="specialcontainer" class="container row">
    <% data.forEach(element => { %>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= element.title %></h5>
          <img src="<%= element.image_url %>" alt="">
          <div class="card-text"><%= element.synopsis %></div>
          <div class="card-text"><%= element.volumes %></div>
          <a class="font" href="/manga/<%= element.mal_id %>">More Info</a>
          <a class="font" href="<%= element.url %>">Visit MyAnimeList</a>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <% include scripts %>

  <script>
    const checkBox = document.querySelector('#showlibrary')
    const library = document.querySelector('.library')
    console.log(checkBox)
    checkBox.addEventListener('change', (e) => {
      if (e.target.checked) {
        library.style.display = 'block';
      }
      else {
        library.style.display = 'none';
      }
    })
  </script>
</body>

</html>